<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Nova Categoria</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="nome">Categoria:</label>
          <input type="text" [(ngModel)]="categoria.descricao" maxlength="20" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <input type="checkbox" [(ngModel)]="categoria.cardapio" class="form-check-input">
          <label class="form-check-label" for="ativo">Exibir no cardápio</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="closeModal()" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
      <button type="button" (click)="gravar()" class="btn btn-sm btn-danger">Gravar</button>
    </div>
  </div>
</div>
