<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Novo Usuário</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="nome">Nome:</label>
          <input type="text" [(ngModel)]="usuario.nome" maxlength="20" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="cargo">Cargo:</label>
          <select [(ngModel)]="usuario.cargoId" class="form-control">
            <option *ngFor="let cargo of cargos" [value]="cargo.cargoId">{{ cargo.descricao }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="nome">Telefone:</label>
          <input type="text" [(ngModel)]="usuario.telefone" maxlength="20" class="form-control">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="closeModal()" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
      <button type="button" (click)="gravar()" class="btn btn-sm btn-danger">Gravar</button>
    </div>
  </div>
</div>
